/*--- column2__right --------*/

.column2__right {
  width: 25%;

  @media screen and (max-width: 750px) {
    width: 100%;
    margin-top: 30px;
  }
}

.right__column__list {
  background-color: #fff;
  padding: 20px 10px;
}

.new__news__list {

  li {
    padding: 10px 0;
    border-top: 1px solid #e2e2e2;
    letter-spacing: 2px;
    transition: all .4s;
  }

  p {
    font-size: 1.2rem;
  }

  a {
    display: block;
    font-size: 1.4rem;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 10px;
    transition: all .4s;

    &:hover {
      opacity: .7;
    }
  }
}

.mt-5 {
  margin-top: 5px;
}

.right__column__title {
  color: #0f6b55;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  padding-bottom: 15px;


  img {
    width: 20px;
    height: 18px;
    margin-right: 8px;
  }
}

.category__body {
  border-top : 1px solid #e2e2e2;

  li {
    margin-top: 15px;
  }
}

.category__item {
  position: relative;
  display: block;
  transition: all .4s;

  &:hover {
    opacity: .7;
  }
}

.info__img__aside {
  width: 100%;
}

.category__text {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: rgba(255,255,255,.75);
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  height: 30px;
  padding-top: 7px;
  padding-left: 25px;
  z-index: 0;

  @media screen and (max-width: 960px) {
    font-size: 1vw;
  }

  @media screen and (max-width: 750px) {
    font-size: 1.4rem;
    height: 30px;
    line-height: 30px;
  }

  &::before {
    content: "";
    width: 4px;
    height: 70%;
    background-color: #0f6b55;
    position: absolute;
    left: 15px;
    bottom: 4px;

    @media screen and (max-width: 750px) {
      width: 4px;
      height: 25px;
      bottom: 2px;
    }
  }
  
  &::after {
    content: "";
    position: absolute;
    display: block;
    right: 20px;
    top: 35%;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-right: #0f6b55 3px solid;
    border-top: #0f6b55 3px solid;
    transition: all .4s;
  }
}

.ranking__body {
  border-top : 1px solid #e2e2e2;

  li {
    padding: 20px 0;
  }

  li:nth-child(1) .ranking__img::before {
    background-image: url(../img/icon/rank1.svg);
  }

  li:nth-child(2) .ranking__img::before {
    background-image: url(../img/icon/rank2.svg);
  }

  li:nth-child(3) .ranking__img::before {
    background-image: url(../img/icon/rank3.svg);
  }

  li:nth-child(1) .ranking__img::before ,
  li:nth-child(2) .ranking__img::before ,
  li:nth-child(3) .ranking__img::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -15px;
    width: 40px;
    height: 40px;
  
    @media screen and (max-width: 750px) {
      top: -15px;
    }
  }
}



.ranking__item {
  display: flex;
  align-items: center;
  position: relative;
  transition: all .4s;

  &:hover {
    opacity: .7;
  }
}

.ranking__img {
  flex-basis: 100px;
  height: auto;
  margin-right: 10px;
  position: relative;
}

.ranking__text__body {
  flex-basis: 63%;
  letter-spacing: 1px;

  @media screen and (max-width: 750px) {
    flex-basis: 75%;
  }
}

.ranking__category {
  font-size: 1.2rem;

  @media screen and (max-width: 750px) {
    font-size: 1rem;
  }
}

.ranking__text {
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;

  @media screen and (max-width: 750px) {
    font-size: 1.2rem;
  }
}