.blog__column__list {
  padding:  0 10px;

  a {
    text-decoration: none;
  }
}

.blog__column__list + li .column__list__inner {
  border-top: 1px solid #e2e2e2;
}

.column__list__inner {
  display: flex;
  padding: 30px 0;
  margin: 0 10px;

  @media screen and (max-width: 750px) {
    padding: 15px 0;
  }
}

.blog__list__img {
  flex-basis: 200px;
  margin-right: 15px;

  @media screen and (max-width: 750px) {
    flex-basis: 32%;
  }
}

.blog__text__wrap {
  flex-basis: 65%;
}

.blog__list__title {
  color: #0f6b55;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;

  @media screen and (max-width: 750px) {
    font-size: 1rem;
  }
}

.blog__list__text{
  display: block;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 20px;

  @media screen and (max-width: 750px) {
    font-size: 1.2rem;
    margin-top: 10px;
  }
}

.blog__list__date {
  font-size: 1.2rem;
  margin-top: 10px;
  letter-spacing: 1px;

  @media screen and (max-width: 750px) {
    font-size: 1rem;
    margin-top: 5px;
  }
}

.pagenation {
  width: 100%;
  margin: 0 auto;
  margin: 40px 0;
}

.pagenation__list {
  display: flex;
  justify-content: center;

  li {
    width: 30px;
    height: 30px;
    border: 1px solid #0f6b55;
    background-color: #0f6b55;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Roboto';
    transition: all .4s;
  }

  li+li {
    margin-left: 20px;
    background-color: #fff;

    &:hover {
      background-color: #0f6b55;
      color: #fff;
    }
  }

  a {
    width: 100%;
    text-align: center;

    &:hover {
      color: #fff;
    }
  }
}