@charset "UTF-8";

/*--- header ---------*/
@import "header.scss";

/*--- common --------*/
@import "common.scss";

/*--- form --------*/
@import "form.scss";

.window__link {
  font-size: 1.8rem;
  margin-bottom: 20px;
  letter-spacing: 1px;

  @media screen and (max-width: 750px) {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}

/*--- footer --------*/
@import "footer.scss";