/*--- common --------*/
@import "common.scss";

.form {
  margin-top: 50px;
  max-width: 1200px;
  width: 100%;

  @media screen and (max-width: 750px) {
    margin-top: 20px;
  }
}

.form__wrap {
  width: 80%;
  margin: 0 auto;

  @media screen and (max-width: 750px) {
    width: 100%;
  }
} 

.form__item {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;

  @media screen and (max-width: 750px) {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 35px;

    &:nth-child(2) {
      margin-top: 20px;
    }
    
  }
}


.form__item__label {
  width: 30%;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;

  @media screen and (max-width: 750px) {
    max-width: inherit;
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.form__item__label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;

  @media screen and (max-width: 750px) {
    margin-top: 0;
  }
}

.form__item__label__required {
  border-radius: 3px;
  margin-right: 10px;
  padding: 3px;
  display: inline-block;
  text-align: center;
  color: $color-white;
  font-size: 14px;
}

.required__black {
  background: #404040;
}

.required__red {
  background: $color-red;
}

.form__item__input {
  background: $form-bg;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  padding-left: 1em;
  padding-right: 1em;
  height: 50px;
  flex: 1;
  width: 70%;
  max-width: 500px;
  font-size: 16px;
  font-weight: bold;

  @media screen and (max-width: 750px) {
    margin-top: 10px;
    height: 40px;
    width: 100%;
    flex: inherit;
    font-size: 15px;
  }
}

.form__select {
  background-image: url(../img/icon/bottom_arrow.svg);
  background-repeat: no-repeat;
  background-position: right 5% top 50%;
  -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
  -moz-appearance: none; /* ベンダープレフィックス(Firefox用) */
  appearance: none; /* 標準のスタイルを無効にする */
  max-width: 380px;
  letter-spacing: 2px;
} 

.form__item__textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding-left: 1em;
  padding-right: 1em;
  height: 300px;
  flex: 1;
  width: 70%;
  max-width: 500px;
  background: $form-bg;
  font-size: 18px;

  @media screen and (max-width: 750px) {
    margin-top: 18px;
    height: 200px;
    width: 100%;
    flex: inherit;
    font-size: 15px;
  }
}

.privacy__policy {
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
}

.form__btn {
  margin-top: 40px;
  transition: all .4s;


  &:hover {
    opacity: .7;
  } 
}

.btn__item {
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 3px;
  height: 50px;
  line-height: 50px;
  width: 40%;
  max-width: 400px;
  display: block;
  letter-spacing: 5px;
  background: $color-green;
  color: $color-white;
  font-weight: bold;
  font-size: 20px;

  @media screen and (max-width: 750px) {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
    line-height: 34px;
  }
}
