@charset "UTF-8";

/*--- common --------*/
@import "common.scss";

/*--- header ---------*/
@import "header.scss";

.news__list__text{
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 20px;

  @media screen and (max-width: 750px) {
    font-size: 1.4rem;

    &:first-child {
      margin-top: 10px;
    }
  }
}

.news__list__date {
  font-size: 1.4rem;
  margin-top: 10px;
  letter-spacing: 1px;

  @media screen and (max-width: 750px) {
    font-size: 1.2rem;
  }
}

.pagenation {
  width: 100%;
  margin: 0 auto;
  margin: 40px 0;
}

.pagenation__list {
  display: flex;
  justify-content: center;

  li {
    width: 30px;
    height: 30px;
    border: 1px solid $color-green;
    background-color: $color-white;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Roboto';
    transition: all .4s;

    &:hover {
      background-color: $color-green;
      color: $color-white;
    }
  }

  li+li {
    margin-left: 20px;
    background-color: $color-green;


  }

  a {
    width: 100%;
    text-align: center;

    &:hover {
      color: $color-white;
    }
  }
}

/*--- aside -------*/
@import "aside.scss";

/*--- footer --------*/
@import "footer.scss";