.news__column {
  display: flex;
  flex-direction: column;
}

.column__list + li .news__column {
  border-top: 1px solid #e2e2e2;
}

.column__list + li .news__list__text {
  margin-top: 20px;
}

.news__list__text {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;

  @media screen and (max-width: 750px) {
    font-size: 1.4rem;

    &:first-child {
      margin-top: 10px;
    }
  }
}

.news__list__text + .news__list__text {
  margin-top: 20px;
}

.news__list__date {
  font-size: 1.4rem;
  margin-top: 7px;
  letter-spacing: 1px;

  @media screen and (max-width: 750px) {
    font-size: 1.2rem;
  }
}

.pagenation {
  width: 100%;
  margin: 0 auto;
  margin: 40px 0;
}

.pagenation__list {
  display: flex;
  justify-content: center;

  li {
    width: 30px;
    height: 30px;
    border: 1px solid #0f6b55;
    background-color: #0f6b55;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Roboto';
    transition: all .4s;
  }

  li+li {
    margin-left: 20px;
    background-color: #fff;

    &:hover {
      background-color: #0f6b55;
      color: #fff;
    }
  }

  a {
    width: 100%;
    text-align: center;

    &:hover {
      color: #fff;
    }
  }
}