@charset "UTF-8";

/*-------------------------ベースグループ-------------------*/

* {
margin: 0;
padding: 0;
}
html {
  font-family: "Noto Sans JP",sans-serif;
}
img {
  max-width: 100%;
}
html {
	font-size: 62.5%;
}

ul {
  list-style: none;
}
a {
  color: #333;
	text-decoration: none;
}
body {
  color: #333;
  font-family: "Noto Sans JP",sans-serif;
}



/*--- 共通　--------*/
.wrapper {
padding-top: 147px;
}

.subtitle {
  text-align: center;
  color: #0f6b55;
  font-size: 2.4rem;
  letter-spacing: 4px;

  p {
    margin-top: 5px;
  }
}

/*--- header ---------*/
@import "header.scss";

/*--- cause --------*/

.cause {
  padding: 40px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.cause__img {
  text-align: center;
  margin-bottom: 50px;

  img {
    max-width: 600px;
    width: 100%;
  }
}

.banner {
  text-align: center;
  margin-bottom: 50px;

  img {
    max-width: 600px;
    width: 100%;
  }
}

.triangle {
  margin: 0 auto;
  width: 0;
  border-top: 100px solid #e01212;
  border-left: 175px solid transparent;
  border-right: 175px solid transparent;
}

.free__window {
  display: flex;
  justify-content: space-between;
}

.free__window__wrap {
  margin-top: 40px;
  width: 49%;
  border: 1px solid #c4c4c4;
  padding: 15px 30px;
  text-align: center;
}

.window__title {
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.free__window__inner {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;

  p {
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align:left;
  }
}

.window__img {
  height: 150px;
  width: 150px;
  margin-right: 15px;
}

.window__btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.5s;
  letter-spacing: 2px;

  &:hover {
    opacity: 0.7;
  }
}

.window__btn__w {
  border: 1px solid #0f6b55;
  color: #0f6b55;
}

.window__btn__r {
  background-color: #e01212;
  color: #fff;
}

/*--- footer --------*/

.footer__inner {
  background-color: #0f6b55;
  color: #fff;
  letter-spacing: 2px;
}

.footer__area {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.area {
font-size: 1.4rem;
}

.area__title {
  width: 120px;
  height: 28px;
  line-height: 28px;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.area__subtitle {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 15px;
}

.area__list {
  line-height: 2.5;
}

.footer__nav {
  font-size: 1.4rem;
  font-weight: bold;

  li+li {
    margin-top: 15px;
  }
}

.footer__nav__arrow {
  color: #fff;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-image: url("../img/icon/right_arrow_wh.svg");
    margin-right: 7px;
  }

}