.works__category__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1.8rem;
  letter-spacing: 2px;
  padding: 20px 0;

  @media screen and (max-width: 750px) {
    font-size: 1.6rem;
    flex-wrap: wrap;
    line-height: 2;
  }
}

.works__category__text {
  display: flex;
  align-items: center;
  transition: all 0.4s;

  a {
    color: #0f6b55;
  }

  &:hover {
    opacity: 0.7;
  }

  &::after {
    content: "";
    margin: 0 10px;
    height: 20px;
    width: 1px;
    background-color: #0f6b55;
  }

  &:last-child::after {
    display: none;
  }
}

.works__inner {
  margin-top: 40px;

  @media screen and (max-width: 750px) {
    padding: 0 10px;
    margin-top: 20px;
  }
}

.works__item {
  position: relative;
}

@media screen and (max-width: 750px) {
  .works__item__sp {
    display: none;
  }
}

.works__box {
  position: relative;
  overflow: hidden;
  display: block;
  padding-top: 65.6%;
}

.works__text {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  background-color: #fff;
  height: 190px;
  padding: 15px 20px;
  letter-spacing: 2px;
  overflow: hidden;

  @media screen and (max-width: 750px) {
    height: auto;
  }
}

.works__category {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  font-size: 1.2rem;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #e01212;
  display: inline-block;
  color: #fff;
  letter-spacing: 1px;
}

.pagenation {
  width: 100%;
  margin: 0 auto;
  margin: 40px 0;
}

.pagenation__list {
  display: flex;
  justify-content: center;

  li {
    width: 30px;
    height: 30px;
    border: 1px solid #0f6b55;
    background-color: #0f6b55;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: "Roboto";
    transition: all 0.4s;
  }

  li + li {
    margin-left: 20px;
    background-color: #fff;

    &:hover {
      background-color: #0f6b55;
      color: #fff;
    }
  }

  a {
    width: 100%;
    text-align: center;

    &:hover {
      color: #fff;
    }
  }
}

/*--- footer --------*/
@import "footer.scss";
