@charset "UTF-8";
/*-------------------------ベースグループ-------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  letter-spacing: 1.5px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*--- 共通グループ　--------*/
.wrapper {
  max-width: 860px;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .wrapper {
    padding: 0 16px;
  }
}

.subtitle {
  margin-bottom: 90px;
  font-size: 36px;
  letter-spacing: 2px;
  text-align: center;
}
.subtitle::after {
  content: "";
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 3px;
  background-color: #333;
}
@media screen and (max-width: 900px) {
  .subtitle::after {
    width: 80px;
    top: 60px;
  }
}
@media screen and (max-width: 900px) {
  .subtitle {
    font-size: 2.8rem;
    margin-bottom: 65px;
  }
}

/*--- header --------*/
.header {
  margin: 40px 50px 0 50px;
  position: relative;
}
@media screen and (max-width: 900px) {
  .header {
    margin: 25px;
  }
}

.logo {
  width: 100px;
  line-height: 1;
}

/*--- ハンバーガーメニュー ----*/
.header__hamburger {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #FF2A2A;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
}
.header__hamburger:hover {
  opacity: 0.7;
}
@media screen and (max-width: 900px) {
  .header__hamburger {
    width: 75px;
    height: 75px;
  }
}

.hamburger {
  cursor: pointer;
  display: block;
  height: 75px;
}
.hamburger span {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: relative;
  transition: ease 0.4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
  display: block;
}
.hamburger span:nth-child(1) {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
}
@media screen and (max-width: 900px) {
  .hamburger span:nth-child(1) {
    width: 35px;
  }
}
.hamburger span:nth-child(2) {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}
@media screen and (max-width: 900px) {
  .hamburger span:nth-child(2) {
    width: 35px;
  }
}
.hamburger span:nth-child(3) {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
}
@media screen and (max-width: 900px) {
  .hamburger span:nth-child(3) {
    width: 35px;
  }
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #FF2A2A; /*ハンバーガーメニュークリック時のナビゲーションメニュー背景色*/
  transition: ease 0.4s; /*ハンバーガーメニュークリック時のナビゲーションメニュnoneー出現を遅延*/
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
.nav img {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 100px;
}
@media screen and (max-width: 900px) {
  .nav img {
    top: 25px;
    left: 25px;
  }
}
.nav li {
  margin-bottom: 20px;
  display: block;
}
.nav a {
  color: #fff;
}
.nav a:nth-child(3) {
  display: block;
  position: relative;
  width: 250px;
  padding: 15px 0;
  margin: 0 auto;
  border: solid 1px #fff;
}
.nav a:nth-child(3)::after {
  position: absolute;
  bottom: -6px;
  right: -6px;
  content: "";
  width: 99%;
  height: 1px;
  background: #fff;
}
.nav a:nth-child(3)::before {
  position: absolute;
  top: 7px;
  right: -6px;
  content: "";
  width: 1px;
  height: 97%;
  background: #fff;
}
.nav a:nth-child(3):hover {
  background-color: #fff;
  color: #FF2A2A;
  transition: 0.4s;
}

.nav__list {
  margin: 80px 0 40px 0;
}
@media screen and (max-width: 900px) {
  .nav__list {
    margin: 110px 0 40px 0;
  }
}

/*---  クリック後のスタイル　-------*/
.nav.active {
  opacity: 1;
  visibility: visible;
}

.hamburger.active {
  cursor: pointer;
}
.hamburger.active span:nth-child(1) {
  top: 50%;
  left: 25%;
  transform: rotate(-45deg);
}
@media screen and (max-width: 900px) {
  .hamburger.active span:nth-child(1) {
    transform: rotate(-45deg);
  }
}
.hamburger.active span:nth-child(2) {
  top: 50%;
  left: 25%;
  transform: rotate(45deg);
}
@media screen and (max-width: 900px) {
  .hamburger.active span:nth-child(2) {
    transform: rotate(45deg);
  }
}
.hamburger.active span:nth-child(3) {
  top: 50%;
  left: 25%;
  transform: rotate(45deg);
}
@media screen and (max-width: 900px) {
  .hamburger.active span:nth-child(3) {
    transform: rotate(45deg);
  }
}

/*--- mainVisual ----------*/
.mainVisual {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  .mainVisual {
    height: 480px;
  }
}

.mainVisual__text {
  position: absolute;
  left: 10%;
  top: 280px;
  font-size: 4.6rem;
  font-weight: bold;
}
.mainVisual__text p {
  margin-bottom: 30px;
  text-shadow: 4px 4px 6px #fff;
}
@media screen and (max-width: 900px) {
  .mainVisual__text p {
    margin-bottom: 10px;
  }
}
.mainVisual__text a {
  display: block;
  font-weight: normal;
  background-color: #FF2A2A;
  color: #fff;
  text-align: center;
  font-size: 2.4rem;
  padding: 15px;
  border-radius: 10px;
  border-bottom: solid 6px #9a0413;
  position: relative;
  transition: 0.4s;
}
@media screen and (max-width: 900px) {
  .mainVisual__text a {
    width: 92%;
  }
}
.mainVisual__text a::after {
  content: "";
  width: 16px;
  height: 16px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  position: absolute;
  transform: rotate(45deg);
  right: 38px;
  top: 23px;
  color: #fff;
}
@media screen and (max-width: 900px) {
  .mainVisual__text a::after {
    right: 30px;
    top: 25px;
  }
}
.mainVisual__text a:hover {
  transform: scale(1.08);
  transition: 0.4s;
  opacity: 0.8;
}
@media screen and (max-width: 900px) {
  .mainVisual__text {
    width: 100%;
    font-size: 2.8rem;
    left: 4%;
    top: 300px;
  }
}

.slide__items {
  width: 75%;
  z-index: -1;
}
@media screen and (max-width: 900px) {
  .slide__items {
    width: 100%;
  }
}
.slide__items li {
  box-sizing: border-box;
  position: relative;
}
.slide__items li img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 720px;
}
@media screen and (max-width: 900px) {
  .slide__items li img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}
.slide__items li::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 20px 20px #fff;
}

/*--- cause ---------*/
.cause {
  margin-top: 120px;
  position: relative;
  z-index: -3;
}

.cause__container {
  background-color: #FF2A2A;
  padding: 80px 0;
}

.cause__wrap {
  padding: 5%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  width: 50%;
}
@media screen and (max-width: 900px) {
  .cause__wrap {
    padding: 24px 20px;
    width: calc(100% - 16px);
  }
}

.cause__img__pc {
  width: 87px;
  margin-right: 30px;
}

.cause__img__man {
  width: 51px;
  margin-right: 30px;
}

.cause__title {
  font-size: 2.8rem;
  color: #FF2A2A;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
@media screen and (max-width: 900px) {
  .cause__title {
    font-size: 2.4rem;
  }
}

.cause__text {
  font-size: 1.8rem;
  color: #333;
  font-weight: normal;
  display: block;
}

.cause__wrap__left {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0;
  margin-bottom: 40px;
}

.left__active {
  animation: cause__active 0.6s ease-out 0s 1 forwards;
}

@keyframes cause__active {
  0% {
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.cause__wrap__right {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 0;
}

.right__active {
  animation: cause__active__right 0.7s ease-out 0s 1 forwards;
}

@keyframes cause__active__right {
  0% {
    transform: translateX(150%);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}
@media screen and (max-width: 900px) {
  .right__active {
    animation: cause__active__right 0.7s ease-out 0s 1 forwards;
  }
  @keyframes cause__active__right {
    0% {
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(16px);
    }
  }
}
/*--- voice ----------*/
.voice {
  position: relative;
  margin-top: 120px;
}
@media screen and (max-width: 900px) {
  .voice {
    margin-top: 80px;
  }
}

.voice__container {
  display: flex;
  justify-content: flex-start;
  opacity: 0;
}
@media screen and (max-width: 900px) {
  .voice__container {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.voice__active__left {
  animation: balloon 0.5s ease-out 0.5s 1 forwards;
}

@keyframes balloon { /*animation-nameで設定した値を書く*/
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.voice__img {
  font-size: 1.2rem;
}
.voice__img img {
  width: 120px;
  height: 120px;
  background-color: #ccc;
  border-radius: 50%;
  margin-bottom: 10px;
}
.voice__img p {
  text-align: center;
  line-height: 2;
}

.voice__text {
  width: 60%;
  font-size: 1.6rem;
  align-items: flex-start;
  margin-left: 30px;
  padding: 20px;
  background-color: #E9F1FB;
  border-radius: 15px;
  position: relative;
  line-height: 2;
}
@media screen and (max-width: 900px) {
  .voice__text {
    width: 100%;
    margin-left: 0;
    padding: 20px;
    margin-bottom: 30px;
  }
}
.voice__text::after {
  content: "";
  background-color: #E9F1FB;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20%;
  left: -7px;
  transform: rotate(45deg);
  z-index: -1;
}
@media screen and (max-width: 900px) {
  .voice__text::after {
    bottom: -4%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
}

.voice__container__right {
  margin: 80px 0;
  display: flex;
  flex-direction: row-reverse;
  opacity: 0;
  line-height: 2;
}
@media screen and (max-width: 900px) {
  .voice__container__right {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.voice__active__right {
  animation: balloon 0.5s ease-out 0.5s 1 forwards;
}

@keyframes balloon { /*animation-nameで設定した値を書く*/
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.voice__text__right {
  width: 60%;
  font-size: 1.6rem;
  align-items: flex-end;
  margin-right: 30px;
  padding: 20px;
  background-color: #E9F1FB;
  border-radius: 15px;
  position: relative;
}
@media screen and (max-width: 900px) {
  .voice__text__right {
    width: 100%;
    margin-right: 0;
    padding: 20px;
    margin-bottom: 30px;
  }
}
.voice__text__right::after {
  content: "";
  background-color: #E9F1FB;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20%;
  right: -7px;
  transform: rotate(45deg);
  z-index: -1;
}
@media screen and (max-width: 900px) {
  .voice__text__right::after {
    bottom: -4%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
}

/*--- summary ---------*/
.summary {
  position: relative;
  margin-top: 120px;
  background: url(../img/bg.gif) repeat;
  animation: gif 10s infinite linear;
}

@keyframes gif {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}
.summary__title {
  padding-top: 60px;
}
.summary__title::after {
  top: 125px;
}

.summary__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .summary__flex {
    flex-direction: column;
  }
}

.summary__wrap {
  width: 48%;
  padding: 60px;
  background-color: #fff;
  color: #333;
  border-radius: 20px;
  font-size: 2.4rem;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .summary__wrap {
    width: 100%;
    padding: 30px 33px;
    font-size: 2.1rem;
  }
}
.summary__wrap:nth-child(1), .summary__wrap:nth-child(2) {
  margin-bottom: 32px;
}
.summary__wrap:nth-child(3) {
  margin-bottom: 60px;
}
@media screen and (max-width: 900px) {
  .summary__wrap:nth-child(3) {
    margin-bottom: 32px;
  }
}
.summary__wrap:nth-child(4) {
  margin-bottom: 60px;
}
.summary__wrap h3 {
  display: block;
  line-height: 1;
}
.summary__wrap span {
  font-size: 1.8rem;
  display: block;
  margin-top: 15px;
}
@media screen and (max-width: 900px) {
  .summary__wrap span {
    font-size: 1.6rem;
  }
}
.summary__wrap p {
  font-size: 1.6rem;
  text-align: left;
  margin-top: 30px;
}

/*--- experience ----------*/
.experience {
  margin: 120px auto;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .experience {
    margin: 80px auto;
  }
}

.experience__title {
  font-size: 3.2rem;
}
@media screen and (max-width: 900px) {
  .experience__title {
    font-size: 2.5rem;
  }
}

.experience__text {
  display: block;
  font-size: 1.8rem;
  font-weight: normal;
  margin-top: 5px;
}
@media screen and (max-width: 900px) {
  .experience__text {
    font-size: 1.6rem;
  }
}

.experience__btn {
  margin-top: 40px;
  padding: 15px;
  background-color: #FF2A2A;
  border-radius: 40px;
  display: block;
  font-size: 2.8rem;
  color: #fff;
  font-weight: bold;
  border: 3px solid #FF2A2A;
  transition: all 0.3s;
}
@media screen and (max-width: 900px) {
  .experience__btn {
    font-size: 2.4rem;
  }
}
.experience__btn:hover {
  background-color: #fff;
  color: #FF2A2A;
}

/*--- footer ---------*/
.footer {
  background-color: #E8E8E8;
}

.footer__wrap {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .footer__wrap {
    flex-wrap: wrap;
  }
}

.footer__title {
  font-size: 1.6rem;
  text-align: left;
  width: 25%;
  margin-bottom: 60px;
}
@media screen and (max-width: 900px) {
  .footer__title {
    width: 50%;
    font-size: 1.5rem;
  }
  .footer__title:nth-child(1), .footer__title:nth-child(2) {
    margin-bottom: 30px;
  }
}
.footer__title h4 {
  margin-bottom: 10px;
}
.footer__title li {
  font-size: 1.4rem;
  margin: 0 0 5px 10px;
}
@media screen and (max-width: 900px) {
  .footer__title li {
    font-size: 1.2rem;
    margin: 0 0 8px 10px;
  }
}
.footer__title li a {
  color: #333;
}

.copyright {
  text-align: center;
  padding-bottom: 20px;
}