@charset "UTF-8";

@import "common.scss";

/*--- main ------------*/

.subtitle {
  font-size: 1.4rem;

  h2 {
    font-weight: normal;
    font-size: 1.4rem;
  }
}

.top {
  padding-top: 120px;
  font-size: 1.4rem;
}

.company {
  margin-top: 30px;
  max-width: 600px;

  dl {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }

    dt {
      width: 30%;
      padding: 20px 10px;
      border-bottom: 1px solid #dcdbdb;

      @media screen and (max-width: 900px) {
        width: 100%;
        padding-bottom: 0;
        border: none;
      }

      &:last-of-type {
        border: none;
      }
    }

    dd {
      width: 70%;
      padding: 20px 10px;
      border-bottom: 1px solid #dcdbdb;

      @media screen and (max-width: 900px) {
        width: 100%;
        padding-top: 10px;
      }

      &:last-child {
        border: none;
      }
    }
  }
}
.map {
  margin-top: 15px;
  width: 100%;


  iframe {
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}


/*--- footer ----------*/

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 130px auto 0 auto;
  width: 100%;
  margin-bottom: 20px;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    margin-top: 110px;
  }

  p {
    font-size: 1rem;
  }

}

.sns {
  display: flex;
}
.sns li {
  margin-right: 30px;
  margin-bottom: 7px;
}