/*--- color --------*/
/*--- footer --------*/
#page__top {
  position: fixed;
  right: 20px;
  bottom: 45px;
  z-index: 999;
}
@media screen and (max-width: 750px) {
  #page__top {
    width: 45px;
    height: 45px;
    right: 8px;
    bottom: 65px;
  }
}

#top__btn {
  display: none;
}
@media screen and (max-width: 750px) {
  #top__btn {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
  }
}

.btn__sp__body {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
.btn__sp__body li {
  width: 50%;
  text-align: center;
}

.btn__body__call {
  background-color: #f39800;
  border-radius: 3px 3px 0 0;
}

.btn__text__wrap {
  display: block;
  height: 55px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn__text__wrap p {
  font-size: 1.2rem;
}
.btn__text__wrap span {
  font-size: 1.8rem;
  margin-left: 6px;
}

.btn__text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__call {
  width: 20px;
  position: relative;
  top: 1px;
}

.btn__mail {
  width: 18px;
  position: relative;
  top: 1px;
}

.btn__body__mail {
  background-color: #e01212;
  border-radius: 3px 3px 0 0;
}

.footer__wrap {
  background-color: #0f6b55;
  color: #fff;
  letter-spacing: 2px;
  padding: 0 16px;
}
@media screen and (max-width: 750px) {
  .footer__wrap {
    padding: 0 25px;
  }
}

.footer__area {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .footer__area {
    flex-direction: column;
    padding: 26px 0;
  }
}

.area {
  font-size: 1.4rem;
}

.area__title {
  width: 120px;
  height: 28px;
  line-height: 28px;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.area__subtitle {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 15px;
}

.area__list {
  line-height: 2.5;
  letter-spacing: 3px;
}
@media screen and (max-width: 750px) {
  .area__list {
    font-size: 1.2rem;
  }
}

.footer__nav {
  font-size: 1.35rem;
  font-weight: bold;
}
@media screen and (max-width: 750px) {
  .footer__nav {
    display: none;
  }
}
.footer__nav li + li {
  margin-top: 15px;
}

.footer__nav__sp {
  display: none;
}
@media screen and (max-width: 750px) {
  .footer__nav__sp {
    display: block;
    display: flex;
    padding: 30px 0 25px 0;
    border-top: solid 1px #fff;
  }
  .footer__nav__sp ul {
    width: 50%;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .footer__nav__sp ul li + li {
    margin-top: 15px;
  }
}

.footer__nav__arrow {
  color: #fff;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.footer__nav__arrow span {
  width: 80%;
}
.footer__nav__arrow::before {
  content: "";
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-image: url("../img/icon/right_arrow_wh.svg");
  margin-right: 7px;
}
.footer__nav__arrow:hover {
  opacity: 0.7;
}

.footer__copyright {
  position: relative;
  padding: 40px 16px;
  text-align: center;
  font-size: 1.2rem;
}
@media screen and (max-width: 750px) {
  .footer__copyright {
    margin-bottom: 50px;
    padding: 40px 16px 20px 16px;
    z-index: -1;
  }
}
.footer__copyright img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 120px;
}
@media screen and (max-width: 750px) {
  .footer__copyright img {
    position: relative;
  }
}

.copyright__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}
.copyright__list li {
  padding: 0 0 0 10px;
  letter-spacing: 1px;
  line-height: 2;
}
.copyright__list li::after {
  content: "|";
  margin: 0 5px 0 10px;
}
.copyright__list li:last-child {
  border: none;
}

small {
  font-size: 1.2rem;
  letter-spacing: 1px;
}