@charset "UTF-8";
.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.header__top__inner {
  padding: 10px 10px 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}
.header__left p {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.2rem;
}
.header__left p span {
  font-size: 2.1rem;
}

@media screen and (max-width: 750px) {
  .logo {
    width: 120px;
    margin: 0;
  }
}

.store {
  margin-left: 30px;
}
@media screen and (max-width: 750px) {
  .store {
    display: none;
  }
}

.header__right {
  display: flex;
  align-items: center;
}

.web-24hour {
  display: flex;
  justify-content: center;
}
.web-24hour img {
  width: 26px;
  margin-right: 7px;
}
@media screen and (max-width: 750px) {
  .web-24hour img {
    width: 13px;
    margin-right: 5px;
  }
}
.web-24hour p {
  font-size: 1.55rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 750px) {
  .web-24hour p {
    font-size: 1rem;
  }
}

.window {
  background-color: #e01212;
  text-align: center;
  border-radius: 5px;
  margin-top: 3px;
  padding: 0 5px;
}

.window__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  width: 200px;
  height: 40px;
}
@media screen and (max-width: 750px) {
  .window__inner {
    font-size: 1rem;
    width: 140px;
    height: 20px;
  }
}
.window__inner img {
  margin-right: 7px;
}
@media screen and (max-width: 750px) {
  .window__inner img {
    width: 10px;
    margin-right: 3px;
  }
}

.tel {
  color: #0f6b55;
  font-weight: bold;
  margin-left: 21px;
  letter-spacing: 0.15rem;
  line-height: 1;
}
.tel p:first-child {
  font-size: 1.6rem;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .tel {
    display: none;
  }
}

.tel__number {
  display: flex;
  margin-top: 10px;
}
.tel__number img {
  width: 30px;
}
.tel__number span:first-child {
  font-size: 2.7rem;
  font-family: "Roboto";
  letter-spacing: 0.25rem;
}
.tel__number span:last-child {
  font-size: 1.5rem;
}

.header__bottom__inner {
  background-color: #0f6b55;
}
@media screen and (max-width: 750px) {
  .header__bottom__inner {
    display: none;
  }
}

.header__nav {
  width: 100%;
  text-align: center;
}

.header__nav__list {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.header__nav__list li {
  width: 25%;
  display: inline-block;
  list-style: outside none none;
  overflow: hidden;
}
.header__nav__list a {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 1.8rem;
  position: relative;
  display: block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
  -webkit-transition: all 0.35s ease;
  transition: all 0.335s ease;
}
.header__nav__list a::before, .header__nav__list a::after {
  position: absolute;
}
.header__nav__list a::before {
  bottom: 100%;
  display: block;
  height: 50px;
  width: 100%;
  content: "";
  background-color: #fff;
  border-right: 1px solid #0f6b55;
  border-left: 1px solid #0f6b55;
}
.header__nav__list a::after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: attr(data-hover);
  color: #0f6b55;
  white-space: nowrap;
}
.header__nav__list a:hover {
  transform: translateY(100%);
}

/*--- ハンバーガーメニュー　--------*/
.header__hamburger {
  display: none;
  position: relative;
}
@media screen and (max-width: 750px) {
  .header__hamburger {
    display: block;
    width: 32px;
    height: 32px;
    background-color: #0f6b55;
    margin-left: 20px;
    margin-top: 3px;
    border-radius: 3px;
  }
}

@media screen and (max-width: 750px) {
  .hamburger {
    cursor: pointer;
    display: block;
    height: 32px;
  }
  .hamburger span {
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: relative;
    transition: ease 0.4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
    display: block;
  }
  .hamburger span:nth-child(1) {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  }
  .hamburger span:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hamburger span:nth-child(3) {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.nav {
  display: none;
}
@media screen and (max-width: 750px) {
  .nav {
    display: block;
    position: fixed;
    top: 58px;
    left: 800px;
    width: 100%;
    height: 100%;
    background-color: #0f6b55;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 750px) {
  .nav__list {
    margin-top: 20px;
    padding: 0 30px;
  }
  .nav__item {
    border-bottom: solid 1px #fff;
  }
  .nav__item a {
    display: block;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 0 10px 25px;
    display: flex;
    align-items: center;
  }
  .nav__item a::before {
    content: "";
    width: 14px;
    height: 14px;
    line-height: 14px;
    background-image: url("../img/icon/right_arrow_wh.svg");
    background-size: contain;
    margin-right: 10px;
    display: inline-block;
  }
}
/*---  クリック後のスタイル　-------*/
@media screen and (max-width: 750px) {
  .nav.active {
    left: 0;
  }
}
@media screen and (max-width: 750px) {
  .hamburger.active {
    cursor: pointer;
  }
  .hamburger.active span:nth-child(1) {
    top: 48%;
    left: 18%;
    transform: rotate(-45deg);
  }
  .hamburger.active span:nth-child(2) {
    display: none;
    transition: all 0.2s;
  }
  .hamburger.active span:nth-child(3) {
    top: 48%;
    left: 18%;
    transform: rotate(45deg);
  }
}