@charset "UTF-8";
/*--- common --------*/
/*-------------------------ベースグループ-------------------*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

body {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
}

/*--- 共通　--------*/
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.subtitle {
  text-align: center;
  color: #0f6b55;
  font-size: 2.4rem;
  letter-spacing: 4px;
}

.flex__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .flex__list {
    flex-direction: column;
  }
}
.flex__list li {
  width: 32.3%;
  margin-top: 20px;
}
@media screen and (max-width: 750px) {
  .flex__list li {
    width: 100%;
  }
}

.news__subtitle {
  font-size: 3.2rem;
  padding: 20px 35px;
  letter-spacing: 3px;
}

/*--- cause --------*/
.cause {
  padding: 40px 0;
}
@media screen and (max-width: 750px) {
  .cause {
    padding: 40px 0 50px 0;
  }
}

.cause__img {
  text-align: center;
  margin-bottom: 50px;
}
.cause__img img {
  max-width: 600px;
  width: 100%;
}

.banner {
  text-align: center;
  margin-bottom: 50px;
}
.banner img {
  max-width: 600px;
  width: 100%;
}

.triangle {
  margin: 0 auto;
  width: 0;
  border-top: 100px solid #e01212;
  border-left: 175px solid transparent;
  border-right: 175px solid transparent;
}
@media screen and (max-width: 750px) {
  .triangle {
    border-top: 60px solid #e01212;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
  }
}

.free__window {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .free__window {
    flex-direction: column;
  }
}

.free__window__wrap {
  margin-top: 40px;
  width: 49%;
  border: 1px solid #c4c4c4;
  padding: 15px 30px;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .free__window__wrap {
    width: 100%;
    padding: 10px;
    margin-top: 35px;
  }
}

@media screen and (max-width: 750px) {
  .window__wrap__sp {
    margin-top: 10px;
  }
}
.window__title {
  font-size: 1.8rem;
  letter-spacing: 2px;
}
@media screen and (max-width: 750px) {
  .window__title {
    font-size: 1.6rem;
  }
}

.free__window__inner {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}
.free__window__inner p {
  font-size: 1.6rem;
  letter-spacing: 2px;
  line-height: 1.5;
  text-align: left;
}
@media screen and (max-width: 750px) {
  .free__window__inner p {
    font-size: 1.4rem;
  }
}

.window__img {
  height: 150px;
  width: 150px;
  margin-right: 15px;
}
@media screen and (max-width: 750px) {
  .window__img {
    width: 80px;
    height: 80px;
  }
}

.window__btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.5s;
  letter-spacing: 2px;
}
@media screen and (max-width: 750px) {
  .window__btn {
    font-size: 1.8rem;
    height: 40px;
    line-height: 40px;
  }
}
.window__btn:hover {
  opacity: 0.7;
}

.window__btn__w {
  border: 1px solid #0f6b55;
  color: #0f6b55;
}

.window__btn__r {
  background-color: #e01212;
  color: #fff;
}

/*--- header ---------*/
.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.header__top__inner {
  padding: 10px 10px 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}
.header__left p {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.2rem;
}
.header__left p span {
  font-size: 2.1rem;
}

@media screen and (max-width: 750px) {
  .logo {
    width: 120px;
    margin: 0;
  }
}

.store {
  margin-left: 30px;
}
@media screen and (max-width: 750px) {
  .store {
    display: none;
  }
}

.header__right {
  display: flex;
  align-items: center;
}

.web-24hour {
  display: flex;
  justify-content: center;
}
.web-24hour img {
  width: 26px;
  margin-right: 7px;
}
@media screen and (max-width: 750px) {
  .web-24hour img {
    width: 13px;
    margin-right: 5px;
  }
}
.web-24hour p {
  font-size: 1.55rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 750px) {
  .web-24hour p {
    font-size: 1rem;
  }
}

.window {
  background-color: #e01212;
  text-align: center;
  border-radius: 5px;
  margin-top: 3px;
  padding: 0 5px;
}

.window__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  width: 200px;
  height: 40px;
}
@media screen and (max-width: 750px) {
  .window__inner {
    font-size: 1rem;
    width: 140px;
    height: 20px;
  }
}
.window__inner img {
  margin-right: 7px;
}
@media screen and (max-width: 750px) {
  .window__inner img {
    width: 10px;
    margin-right: 3px;
  }
}

.tel {
  color: #0f6b55;
  font-weight: bold;
  margin-left: 21px;
  letter-spacing: 0.15rem;
  line-height: 1;
}
.tel p:first-child {
  font-size: 1.6rem;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .tel {
    display: none;
  }
}

.tel__number {
  display: flex;
  margin-top: 10px;
}
.tel__number img {
  width: 30px;
}
.tel__number span:first-child {
  font-size: 2.7rem;
  font-family: "Roboto";
  letter-spacing: 0.25rem;
}
.tel__number span:last-child {
  font-size: 1.5rem;
}

.header__bottom__inner {
  background-color: #0f6b55;
}
@media screen and (max-width: 750px) {
  .header__bottom__inner {
    display: none;
  }
}

.header__nav {
  width: 100%;
  text-align: center;
}

.header__nav__list {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.header__nav__list li {
  width: 25%;
  display: inline-block;
  list-style: outside none none;
  overflow: hidden;
}
.header__nav__list a {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 1.8rem;
  position: relative;
  display: block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
  -webkit-transition: all 0.35s ease;
  transition: all 0.335s ease;
}
.header__nav__list a::before, .header__nav__list a::after {
  position: absolute;
}
.header__nav__list a::before {
  bottom: 100%;
  display: block;
  height: 50px;
  width: 100%;
  content: "";
  background-color: #fff;
  border-right: 1px solid #0f6b55;
  border-left: 1px solid #0f6b55;
}
.header__nav__list a::after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: attr(data-hover);
  color: #0f6b55;
  white-space: nowrap;
}
.header__nav__list a:hover {
  transform: translateY(100%);
}

/*--- ハンバーガーメニュー　--------*/
.header__hamburger {
  display: none;
  position: relative;
}
@media screen and (max-width: 750px) {
  .header__hamburger {
    display: block;
    width: 32px;
    height: 32px;
    background-color: #0f6b55;
    margin-left: 20px;
    margin-top: 3px;
    border-radius: 3px;
  }
}

@media screen and (max-width: 750px) {
  .hamburger {
    cursor: pointer;
    display: block;
    height: 32px;
  }
  .hamburger span {
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: relative;
    transition: ease 0.4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
    display: block;
  }
  .hamburger span:nth-child(1) {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  }
  .hamburger span:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hamburger span:nth-child(3) {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.nav {
  display: none;
}
@media screen and (max-width: 750px) {
  .nav {
    display: block;
    position: fixed;
    top: 58px;
    left: 800px;
    width: 100%;
    height: 100%;
    background-color: #0f6b55;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 750px) {
  .nav__list {
    margin-top: 20px;
    padding: 0 30px;
  }
  .nav__item {
    border-bottom: solid 1px #fff;
  }
  .nav__item a {
    display: block;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 0 10px 25px;
    display: flex;
    align-items: center;
  }
  .nav__item a::before {
    content: "";
    width: 14px;
    height: 14px;
    line-height: 14px;
    background-image: url("../img/icon/right_arrow_wh.svg");
    background-size: contain;
    margin-right: 10px;
    display: inline-block;
  }
}
/*---  クリック後のスタイル　-------*/
@media screen and (max-width: 750px) {
  .nav.active {
    left: 0;
  }
}
@media screen and (max-width: 750px) {
  .hamburger.active {
    cursor: pointer;
  }
  .hamburger.active span:nth-child(1) {
    top: 48%;
    left: 18%;
    transform: rotate(-45deg);
  }
  .hamburger.active span:nth-child(2) {
    display: none;
    transition: all 0.2s;
  }
  .hamburger.active span:nth-child(3) {
    top: 48%;
    left: 18%;
    transform: rotate(45deg);
  }
}
/*--- main --------*/
.main {
  padding-top: 147px;
}
@media screen and (max-width: 750px) {
  .main {
    padding-top: 37px;
  }
}

.mainVisual {
  position: relative;
}

.main__bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 1440px;
  height: 810px;
  z-index: 6;
}

@media screen and (max-width: 750px) {
  .main__img__pc {
    display: none;
  }
}
.main__img__sp {
  display: none;
}
@media screen and (max-width: 750px) {
  .main__img__sp {
    display: block;
    height: calc(100vh - 38px);
    width: 100vw;
  }
}

/*--- slick -------*/
.slick__text__sp {
  display: none;
}
@media screen and (max-width: 750px) {
  .slick__text__sp {
    display: block;
    margin: 20px 0 20px 0;
  }
}

.slick__text__body {
  display: block;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.3;
}

@media screen and (max-width: 750px) {
  .slick__container {
    display: none;
  }
}
.slick__container__sp {
  display: none;
}
@media screen and (max-width: 750px) {
  .slick__container__sp {
    display: block;
    padding: 0 20px;
  }
  .slick__container__sp li + li {
    margin-top: 15px;
  }
}

.slick-img__sp:hover {
  opacity: 0.7;
}

.slide-arrow {
  position: absolute;
  top: 150px;
  margin: auto;
}

.slick-img img {
  transition: all 0.3s;
}
.slick-img img:hover {
  opacity: 0.7;
}

.prev-arrow {
  left: calc((100vw - 1000px) / 2);
  z-index: 5;
  width: 50px;
}

.next-arrow {
  right: calc((100vw - 1000px) / 2);
  z-index: 5;
  width: 50px;
}

.slick-dots {
  margin-top: 30px !important;
  bottom: initial !important;
}

.slick-dots li:nth-of-type(1) button:before {
  background: url("../img/top/slide1.jpg") no-repeat;
  background-size: contain !important;
}

.slick-dots li:nth-of-type(2) button:before {
  background: url("../img/top/slide2.jpg") no-repeat;
  background-size: contain !important;
}

.slick-dots li:nth-of-type(3) button:before {
  background: url("../img/top/slide3.jpg") no-repeat;
  background-size: contain !important;
}

.slick-dots li button:before {
  content: "" !important;
  height: 100% !important;
  width: 100% !important;
  opacity: 1 !important;
}

.slick-dots li {
  width: 190px !important;
  height: 66px !important;
  margin: 30px 5px 0 0 !important;
}

.slick-dots li button {
  width: 100% !important;
  height: 100% !important;
}

.news {
  background-color: #fffef3;
  margin-top: 200px;
  padding: 0 16px;
}
@media screen and (max-width: 750px) {
  .news {
    margin-top: 20px;
    padding: 0 10px;
  }
}

.news__inner {
  padding: 30px 0 40px 0;
  text-align: center;
}

.news__list {
  display: flex;
  flex-wrap: wrap;
  color: #0f6b55;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-top: 20px;
  text-align: left;
}
@media screen and (max-width: 750px) {
  .news__list {
    flex-direction: column;
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
}
.news__list dt {
  width: 15%;
  font-weight: bold;
  margin-right: 40px;
  margin-top: 25px;
  letter-spacing: 3px;
}
@media screen and (max-width: 750px) {
  .news__list dt {
    width: 100%;
  }
}
.news__list dt:first-child {
  margin-top: 0;
}
.news__list dd {
  width: 75%;
  margin-top: 25px;
}
@media screen and (max-width: 750px) {
  .news__list dd {
    width: 100%;
    margin-top: 6px;
  }
}
.news__list dd:first-of-type {
  margin-top: 0;
}
@media screen and (max-width: 750x) {
  .news__list dd:first-of-type {
    margin-top: 10px;
  }
}
.news__list dd a {
  color: #0f6b55;
  text-decoration: underline;
}

.news__btn {
  text-align: center;
  margin-top: 50px;
  display: inline-block;
}
.news__btn a {
  display: block;
  padding: 0 60px;
  height: 55px;
  line-height: 55px;
  background-color: #0f6b55;
  color: #fffef3;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 2px;
  transition: all 0.4s;
}
@media screen and (max-width: 750px) {
  .news__btn a {
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    font-size: 1.6rem;
  }
}
.news__btn a:hover {
  opacity: 0.7;
}

/*--- infomation --------*/
.info {
  padding: 40px 16px;
}
@media screen and (max-width: 750px) {
  .info {
    padding: 40px 10px;
  }
}

.info__item {
  position: relative;
  display: block;
  transition: all 0.4s;
}
.info__item:hover {
  opacity: 0.7;
}
.info__item::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 6.5%;
  width: 13px;
  height: 13px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-right: #0f6b55 3px solid;
  border-top: #0f6b55 3px solid;
  transition: all 0.4s;
  z-index: 5;
}
.info__item:hover::after {
  right: 10px;
}

.info__text {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  padding-left: 25px;
}
@media screen and (max-width: 750px) {
  .info__text {
    font-size: 1.4rem;
    height: 30px;
    line-height: 30px;
  }
}
.info__text::before {
  content: "";
  width: 6px;
  height: 30px;
  background-color: #0f6b55;
  position: absolute;
  left: 15px;
  bottom: 4px;
}
@media screen and (max-width: 750px) {
  .info__text::before {
    width: 4px;
    height: 25px;
    bottom: 2px;
  }
}

@media screen and (max-width: 750px) {
  .info__img__pc {
    display: none;
  }
}
.info__img__sp {
  display: none;
}
@media screen and (max-width: 750px) {
  .info__img__sp {
    display: block;
    width: 100%;
  }
}

/*--- example -------*/
.example {
  background-color: #fffef3;
  padding: 40px 0;
}

.example__inner {
  margin-top: 40px;
}
@media screen and (max-width: 750px) {
  .example__inner {
    padding: 0 10px;
    margin-top: 20px;
  }
}

.example__item {
  position: relative;
}

@media screen and (max-width: 750px) {
  .example__item__sp {
    display: none;
  }
}
.example__box {
  position: relative;
  overflow: hidden;
  display: block;
  padding-top: 62.5%;
}

.example__box__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.example__box__img:hover {
  transform: scale(1.1);
  opacity: 0.7;
  transition: all 0.6s;
}

.example__img1 {
  background-image: url(../img/category/example1.jpg);
}

.example__img2 {
  background-image: url(../img/category/example2.jpg);
}

.example__img3 {
  background-image: url(../img/category/example3.jpg);
}

.example__img4 {
  background-image: url(../img/category/example4.jpg);
}

.example__img5 {
  background-image: url(../img/category/example5.jpg);
}

.example__img6 {
  background-image: url(../img/category/example6.jpg);
}

.example__text {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  background-color: #fff;
  height: 190px;
  padding: 15px 20px;
  letter-spacing: 2px;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  .example__text {
    height: auto;
  }
}

.example__category {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  font-size: 1.2rem;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #e01212;
  display: inline-block;
  color: #fff;
  letter-spacing: 1px;
}

@media screen and (max-width: 750px) {
  .example__list__pc {
    display: none;
  }
}
.example__list__sp {
  display: none;
}
@media screen and (max-width: 750px) {
  .example__list__sp {
    display: block;
  }
}

.example__btn {
  display: block;
  margin-top: 60px;
  text-align: center;
}

.example__btn__body {
  display: inline-block;
}
.example__btn__body a {
  display: block;
  padding: 0 60px;
  height: 55px;
  line-height: 55px;
  background-color: #0f6b55;
  color: #fffef3;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 2px;
  transition: all 0.4s;
}
.example__btn__body a:hover {
  opacity: 0.7;
}

/*--- footer --------*/
#page__top {
  position: fixed;
  right: 20px;
  bottom: 45px;
}
@media screen and (max-width: 750px) {
  #page__top {
    width: 45px;
    height: 45px;
    right: 8px;
    bottom: 65px;
  }
}

.top__btn__sp {
  display: none;
}
@media screen and (max-width: 750px) {
  .top__btn__sp {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.btn__sp__body {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
.btn__sp__body li {
  width: 50%;
  text-align: center;
}

.btn__body__call {
  background-color: #f39800;
  border-radius: 3px 3px 0 0;
}

.btn__text__wrap {
  display: block;
  height: 55px;
  color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn__text__wrap p {
  font-size: 1.2rem;
}
.btn__text__wrap span {
  font-size: 1.8rem;
  margin-left: 6px;
}

.btn__text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__call {
  width: 20px;
  position: relative;
  top: 1px;
}

.btn__mail {
  width: 18px;
  position: relative;
  top: 1px;
}

.btn__body__mail {
  background-color: #e01212;
  border-radius: 3px 3px 0 0;
}

.footer__wrap {
  background-color: #0f6b55;
  color: #fff;
  letter-spacing: 2px;
  padding: 0 16px;
}
@media screen and (max-width: 750px) {
  .footer__wrap {
    padding: 0 25px;
  }
}

.footer__area {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .footer__area {
    flex-direction: column;
    padding: 26px 0;
  }
}

.area {
  font-size: 1.4rem;
}

.area__title {
  width: 120px;
  height: 28px;
  line-height: 28px;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.area__subtitle {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 15px;
}

.area__list {
  line-height: 2.5;
  letter-spacing: 3px;
}
@media screen and (max-width: 750px) {
  .area__list {
    font-size: 1.2rem;
  }
}

.footer__nav {
  font-size: 1.35rem;
  font-weight: bold;
}
@media screen and (max-width: 750px) {
  .footer__nav {
    display: none;
  }
}
.footer__nav li + li {
  margin-top: 15px;
}

.footer__nav__sp {
  display: none;
}
@media screen and (max-width: 750px) {
  .footer__nav__sp {
    display: block;
    display: flex;
    padding: 30px 0 25px 0;
    border-top: solid 1px #fff;
  }
  .footer__nav__sp ul {
    width: 50%;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .footer__nav__sp ul li + li {
    margin-top: 15px;
  }
}

.footer__nav__arrow {
  color: #fff;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.footer__nav__arrow::before {
  content: "";
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-image: url("../img/icon/right_arrow_wh.svg");
  margin-right: 7px;
}
.footer__nav__arrow:hover {
  opacity: 0.7;
}

.footer__copyright {
  position: relative;
  padding: 40px 16px;
  text-align: center;
  font-size: 1.2rem;
}
@media screen and (max-width: 750px) {
  .footer__copyright {
    margin-bottom: 50px;
    padding: 40px 16px 20px 16px;
    z-index: -1;
  }
}
.footer__copyright img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 120px;
}
@media screen and (max-width: 750px) {
  .footer__copyright img {
    position: relative;
  }
}

.copyright__list {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.copyright__list li {
  padding: 0 15px;
  border-right: 1px solid #333;
}
.copyright__list li:last-child {
  border: none;
}

small {
  font-size: 1.2rem;
  letter-spacing: 1px;
}