@charset "UTF-8";
/*-------------------------ベースグループ-------------------*/
* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #000;
  font-size: 1.4rem;
  text-decoration: none;
}

/*--- 共通グループ　-----------*/
.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.subtitle {
  font-size: 1.8rem;
  text-align: center;
}

.text {
  font-size: 1.4rem;
  font-weight: normal;
}

.link {
  text-align: center;
  font-size: 1.4rem;
}
.link a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.link a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #333;
  opacity: 1;
  transition: 0.2s;
}
.link a:hover::after {
  opacity: 0;
  transform: translateY(3px);
}

/*--- header ----------*/
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 90;
}

.logo {
  margin-bottom: 0;
}

.logo img {
  width: 145px;
  margin: 20px 0;
}

nav {
  background-color: #333;
  padding: 9px 0;
}

.nav__list {
  display: flex;
  font-size: 1.4rem;
}
@media screen and (max-width: 767px) {
  .nav__list {
    white-space: nowrap;
    overflow-x: auto;
  }
}
.nav__list li {
  margin-right: 60px;
}
.nav__list a {
  color: #fff;
}

/*--- post ----------*/
.post {
  display: flex;
  margin-top: 150px;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .post {
    flex-direction: column;
  }
}

.post__container {
  width: 32%;
}
@media screen and (max-width: 767px) {
  .post__container {
    width: 100%;
    margin-bottom: 30px;
  }
}
.post__container h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 12px;
  line-height: 1.4;
}

/*--- blog__column ----------*/
.blog__column {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .blog__column {
    flex-direction: column;
  }
}

/*--- leftColumn ------------*/
.column__left {
  width: 65%;
}
@media screen and (max-width: 767px) {
  .column__left {
    width: 100%;
  }
}

/*--- article -----*/
.article__title {
  margin-top: 10px;
  margin-bottom: 15px;
}
.article__title a {
  font-size: 2.4rem;
}

.category {
  margin-bottom: 10px;
}

.date {
  margin-right: 20px;
}

.article__img img {
  margin-bottom: 11px;
}

.article__text {
  font-size: 1.6rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 26px;
}

.article {
  margin-top: 80px;
}

/*--- rightColumn -------------*/
.column__right {
  width: 33%;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .column__right {
    width: 100%;
    padding: 0;
    margin-top: 80px;
  }
}

/*--- name -----------*/
.name__img {
  text-align: center;
  margin-bottom: 30px;
}

.name__img img {
  width: 130px;
  border-radius: 130px;
}

.name h3 {
  margin-bottom: 30px;
}

/*--- ranking ---------*/
.ranking {
  margin-top: 55px;
  margin-bottom: 60px;
}
.ranking h3 {
  margin-bottom: 30px;
}

.ranking__container {
  margin-bottom: 30px;
}
.ranking__container p {
  margin-top: 4px;
}
.ranking__container:last-child {
  margin: 0;
}

/*--- archive ----------*/
.archive h3 {
  margin-bottom: 30px;
}

.archive__list {
  padding: 20px;
  border-top: #777 solid 1px;
}
.archive__list:last-child {
  border-bottom: #777 solid 1px;
}

/*--- footer ---------*/
footer {
  background-color: #F7F7F7;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-top: 120px;
}

.sub__footer {
  text-align: left;
  margin-bottom: 30px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }
}

/*--- about -------*/
.about {
  width: 30%;
}
@media screen and (max-width: 767px) {
  .about {
    width: 100%;
    margin-bottom: 50px;
  }
}

.about__list {
  margin-top: 20px;
}

.about__list__text {
  position: relative;
  margin-bottom: 4px;
  display: block;
}
.about__list__text a {
  margin-left: 10px;
}
.about__list__text a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-left: 8px solid #333;
}

/*--- menu -------*/
.menu {
  width: 30%;
}
@media screen and (max-width: 767px) {
  .menu {
    width: 100%;
    margin-bottom: 30px;
  }
}

.menu__list {
  border-top: #777 solid 1px;
  padding: 15px 0 15px 15px;
}
.menu__list:last-child {
  border-bottom: #777 solid 1px;
}

/*--- twitter -------*/
.twitter {
  width: 30%;
}
@media screen and (max-width: 767px) {
  .twitter {
    width: 100%;
  }
}

.twitter__container {
  height: 315px;
}

.copyright {
  text-align: center;
  font-size: 1.2rem;
}